In [1]:
# filter warnings to not confuse readers
import warnings
warnings.filterwarnings("ignore")

# Python for Excel Users - Part 2
## Modifying and Manipulating Excel Files (Updating a Sales Report)

#### Is it for me?
This tutorial series is for everyone who wants to get started working in python instead of Excel, e.g. for automating tasks or improving speed and scalability. Or for just the curious ones.

You're at the right spot when you use Excel to combine various sheets or tables (using formulas like Index, Match, VLookup), use simple mathematical operations like sum and mean, or even use conditional aggregation functions (e.g. sum of transactions per category) or pivot tables.

#### Goal:
In this part we are faced with the task to update a certain Excel file, a sales report, with new data. We will see two approaches, of which one makes sense, and we will talk about the why and motivation to use the second approach further at the end of the notebook.

#### Requirements:
While some basic experience with python helps, you don't have to be a a programmer or data scientist to follow this tutorial. Ideally, you should have heard of pandas and jupyter notebook (which is where you're reading this tutorial right now) and spent some time with python yourself. 

But don't get discouraged. Just try to follow along and read up on things we did not cover. You can always come back here. And if you need some personal guidance, we at HOSD Mentoring offer free one-to-one data mentoring at www.hosd-mentoring.com

# 1. The Situation

In part one we assumed you just started as an data analyst in  the sales department of a huge online retailer. In the past few weeks you dug into all kinds of data the business produces. Of course you're also responsible to produce regular **sales reports**.

The company provided a general structure for these reports in form of an Excel template. One of the most important reports is the **monthly sales report**. Many business leaders love this one-stop report for showing the health and development of the business in numbers and visually.

As a new employee you find this kind of reporting outdated. You talked to your boss and suggested using a reporting and visualization tool like PowerBI or Tableau connected directly to the data source. However, at this point this option is not viable for some strange business reason, so we are forced to deal with the given Excel report the best we can.

This is how the report looks like.

![Excel sales report](img/img1.png)

While this tutorial will be less about doing analytics and more about the process of updating and maintaining a given Excel report, a few strategic questions come up that could lead to useful extensions of the current report.

#### A few strategic questions:
- How did certain brands develop (absolute and relative) over time?
- Development of product categories (absolute and relative)
- Top 5 Growth and Loss products

Since it's August, the company asks us to update the report with the July data shown below.

![Sales data for July 2021](img/img2.png)

We could do this completely in Excel, for example by creating pivot tables, one for brands and one for category, and then copy over the aggregated sales numbers to the summary sheet for July. 

However, while this manual work with only four brands and categories and less than 20 products is approachable, the company is expected to grow its offering significantly within the next months. So it's reasonable to start setting up a more scalable and automated process.

## 2. Updating an Excel report using Python

We already know how to use pandas to read csv files using the method pd.read_csv. Luckily, there's a method for reading Excel files in pandas too: [pd.read_excel()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html). 

Let's see how it looks.

In [2]:
import pandas as pd

# Read sales for july
sales_july = pd.read_csv("data/sales_july_export.csv")
sales_july.head()

  Month Product Name    Brand Product Category  Sales
0  July    Blue Ball  Brand A       Category I     68
1  July   Green Ball  Brand A       Category I    123
2  July     Red Ball  Brand B       Category I    579
3  July  Orange Ball  Brand C       Category I   1293
4  July    Pink Ball  Brand C       Category I   1098

In [3]:
# Read excel file with pandas
monthly_sales_report = pd.read_excel("data/Monthly Sales Report.xlsx")
monthly_sales_report

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,MONTHLY SALES REPORT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date,July 2021,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Contact:,contact@company.com,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,OVERALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,January,February,March,April,May,June,July,August,September,October,November,December,Full Year
6,NaN,Brand A,202,290,189,478,678,679,0,0,0,0,0,0,2516
7,NaN,Brand B,5609,5790,6519,7901,6972,5793,0,0,0,0,0,0,38584
8,NaN,Brand C,1256,4627,2415,671,4678,3561,0,0,0,0,0,0,17208
9,NaN,Brand D,527,521,467,421,652,256,0,0,0,0,0,0,2844
10,NaN,Total,7594,11228,9590,9471,12980,10289,0,0,0,0,0,0,61152
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,CATEGORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,January,February,March,April,May,June,July,August,September,October,November,December,Full Year
29,NaN,Category I,1568,2012,1679,1298,2138,2199,0,0,0,0,0,0,10894
30,NaN,Category II,1278,2251,2975,2100,3168,2899,0,0,0,0,0,0,14671
31,NaN,Category III,4521,3518,3657,1168,2875,3169,0,0,0,0,0,0,18908
32,NaN,Category IV,227,3447,1279,4905,4799,2022,0,0,0,0,0,0,16679

Urgh! This looks weird and not at all like the report when we open it in Excel.

The reason is that pandas simply tries to show the content of each cell as a value in a dataframe. Thus, formatting gets ignored as well as merged and combined cells. Where once the nice visuals were are not empty cells with NaNs.

Normally, to work with Excel data in pandas requires to clean up the dataframe, e.g. by removing all the unnecessary rows and columns (like headlines). This process is called slicing and you can read more about it in pandas' official documentation for [Indexing and Selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html). 

For example, this is how the brand table would look like.

In [4]:
# create copy of full report df to slice
monthly_brand_df = monthly_sales_report.copy()

# use first row as header (alternative: set header parameter when reading excel file)
monthly_brand_df.columns = monthly_brand_df.iloc[5]

# only keep relevant rows with data for brand sales
monthly_brand_df = monthly_brand_df[6:11]

# first column is always empty as it exists purely for formatting reasons; drop it
monthly_brand_df = monthly_brand_df.iloc[:,1:]

# reset index after slicing
monthly_brand_df.reset_index(drop=True, inplace=True)

# change column names
monthly_brand_df.columns = ['Brand', 'January', 'February', 'March', 'April',
                            'May', 'June', 'July', 'August', 'September',
                            'October', 'November',  'December', 'Full Year']

monthly_brand_df

,Brand,January,February,March,April,May,June,July,August,September,October,November,December,Full Year
0,Brand A,202,290,189,478,678,679,0,0,0,0,0,0,2516
1,Brand B,5609,5790,6519,7901,6972,5793,0,0,0,0,0,0,38584
2,Brand C,1256,4627,2415,671,4678,3561,0,0,0,0,0,0,17208
3,Brand D,527,521,467,421,652,256,0,0,0,0,0,0,2844
4,Total,7594,11228,9590,9471,12980,10289,0,0,0,0,0,0,61152

However, in this scenario we are not interesting in just working with the data but in **updating the report with new data**. In fact, there are only a few cells that we need to touch, namely the cells corresponding to the month of July.

Thus, assuming that the structure of the report stays constant, we are looking for a way to fill specified cells with specified values.

**Our approach is therefore:**
- Step 1: Calculate the July sales on brand and product category level (two summary tables)
- Step 2: Write the data to the Excel report and save the new updated version

### Step 1: Calculate July Summary Tables

Essentielly, we will do the same as using a pivot table in excel where we sum up *Sales* using *Brand* as a a row.

<img src="img/img3.png" alt="pivot table of sales on brand level" style="width: 800px;"/>

Next, we do the same using *Product Category* instead of *Sales*. This is how we could do it in python using pandas.

In [5]:
sales_july.head(5)

  Month Product Name    Brand Product Category  Sales
0  July    Blue Ball  Brand A       Category I     68
1  July   Green Ball  Brand A       Category I    123
2  July     Red Ball  Brand B       Category I    579
3  July  Orange Ball  Brand C       Category I   1293
4  July    Pink Ball  Brand C       Category I   1098

In [6]:
# sales by brand
sales_july_by_brand = sales_july.groupby(["Brand"], as_index=False).agg({"Sales":"sum"})
sales_july_by_brand

     Brand  Sales
0  Brand A    821
1  Brand B   5237
2  Brand C   5071
3  Brand D    190

In [7]:
# sales by category
sales_july_by_category = sales_july.groupby(["Product Category"], as_index=False).agg({"Sales":"sum"})
sales_july_by_category

  Product Category  Sales
0       Category I   3161
1      Category II    481
2     Category III   5282
3      Category IV   2395

### Step 2: Write data to Excel report

Okay, now that we have calculated all the sales numbers we need in our little example, we can update the Excel file. 

For example, we know that we need to update the cell in **row 6** and **column Unnamed: 8** with the July sales number for Brand A.

In [8]:
# helper functions to color certain cells green
def highlight_cell(x):
    df = x.copy() 
    df.loc[:,:] = '' 
    df.at[6,"Unnamed: 8"] = 'background-color: lightgreen'
    return df 

def highlight_cells(x):
    df = x.copy() 
    df.loc[:,:] = '' 
    df.at[6,"Unnamed: 8"] = 'background-color: lightgreen'
    df.at[7,"Unnamed: 8"] = 'background-color: lightgreen'
    df.at[8,"Unnamed: 8"] = 'background-color: lightgreen'
    df.at[9,"Unnamed: 8"] = 'background-color: lightgreen'
    return df 

def highlight_grandtotal(x):
    df = x.copy() 
    df.loc[:,:] = '' 
    df.at[10,"Unnamed: 8"] = 'background-color: yellow'
    return df

In [9]:
# ugly imported excel file
monthly_sales_report.head(15).style.apply(highlight_cell, axis=None)

In [10]:
# take sales for Brand A from sales_july_by_brand and write to monthly_sales_report to a specified cell
monthly_sales_report.at[6, "Unnamed: 8"] = sales_july_by_brand.at[0, "Sales"]

# see updates
monthly_sales_report.head(15).style.apply(highlight_cell, axis=None)

We can update the other Brands by looping through the rows four times and repeat what we did above.

In [11]:
# update July sales for all brand
for i in range(4):
    monthly_sales_report.at[i+6, "Unnamed: 8"] = sales_july_by_brand.at[i, "Sales"]
    
# see updates
monthly_sales_report.head(15).style.apply(highlight_cells, axis=None)

To update the total sales for all brands together, we need to take the sum over all brands and write the result in cell monthly_sales_report.at[10, "Unnamed: 8"]

In [12]:
monthly_sales_report.head(15).style.apply(highlight_grandtotal, axis=None)

In [13]:
# calculate sum over all brands for July
total_sum = sum(sales_july_by_brand["Sales"])
print(total_sum)

# write total sum to table
monthly_sales_report.at[10, "Unnamed: 8"] = total_sum

# show updates
monthly_sales_report.head(15).style.apply(highlight_grandtotal, axis=None)

11319

In [14]:
# Same approach for updating sales per category
for i in range(4):
    monthly_sales_report.at[i+29, "Unnamed: 8"] = sales_july_by_category.at[i, "Sales"]
    
# see updates
monthly_sales_report

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,MONTHLY SALES REPORT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date,July 2021,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Contact:,contact@company.com,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,OVERALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,January,February,March,April,May,June,July,August,September,October,November,December,Full Year
6,NaN,Brand A,202,290,189,478,678,679,821,0,0,0,0,0,2516
7,NaN,Brand B,5609,5790,6519,7901,6972,5793,5237,0,0,0,0,0,38584
8,NaN,Brand C,1256,4627,2415,671,4678,3561,5071,0,0,0,0,0,17208
9,NaN,Brand D,527,521,467,421,652,256,190,0,0,0,0,0,2844
10,NaN,Total,7594,11228,9590,9471,12980,10289,11319,0,0,0,0,0,61152
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,CATEGORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,January,February,March,April,May,June,July,August,September,October,November,December,Full Year
29,NaN,Category I,1568,2012,1679,1298,2138,2199,3161,0,0,0,0,0,10894
30,NaN,Category II,1278,2251,2975,2100,3168,2899,481,0,0,0,0,0,14671
31,NaN,Category III,4521,3518,3657,1168,2875,3169,5282,0,0,0,0,0,18908
32,NaN,Category IV,227,3447,1279,4905,4799,2022,2395,0,0,0,0,0,16679

In [15]:
# save excel file
monthly_sales_report.to_excel("monthly_sales_report_updated_1.xlsx")

!["result of exporting data to excel, approach 1"](img/img4.png)

## 3. Write data to Excel report (for real now)
When you rolled your eyes while reading the last section and asked yourself why you would ever want to use python for updating a simple Excel file when it's THAT complicated, I have another option for you than using pandas.

The approach above has two downsides. First, it is way too complicated. Second, loading data from Excel, manipulating it in a dataframe, and saving it back to Excel removes all formatting settings and non-data things like graphs. The screenshot above shows that.

![xlwings logo](img/xlwings_logo320.png)
Alternatively, we would like to find a way that does not import the report data as a dataframe but writes data directly to specified cells in the Excel report. The package [xlwings](https://www.xlwings.org) can be used for that.

In [16]:
import xlwings as xw

excel_app = xw.App(visible=False)
excel_book = excel_app.books.open("data/Monthly Sales Report.xlsx")
sheet = excel_book.sheets[0]

# Directly write July sales for Brand A to corresponding cell in Excel
sheet.range("I8").value = sales_july_by_brand.at[0, "Sales"]
excel_book.save()

#excel_book.close()
#excel_app.quit()

When we switch over to Excel, we can see that cell I8 is not empty anymore.

![updated brand 1 sales](img/img5.png)

We can use this approach to write the calculated brand-level and category-level sales values for July to the corresponding cells.

For that, we define the range of cells, e.g. I8:I11 for brand-level sales, and use the transpose options. Otherwise, the data would be written from left to right in a row instead of a column.

In [17]:
# update a list of cells with a list of values (brand-level and category-level sales) caluclated above
sheet.range('I8:I11').options(transpose=True).value = sales_july_by_brand["Sales"].values
sheet.range('I31:I34').options(transpose=True).value = sales_july_by_category["Sales"].values

![completely updated excel report](img/img6.png)

Note that unlike in the approach before, we do not need to calculate the total sums again, since **Excel formulas are still intact**. 

Furthermore, the **graphs are automatically updated** since they are based on the cell values. 

Thus, this approach of updating the Excel report using xlwings should be the preferred one.

## 3. But why not keep using just Excel?
You would probably have been way faster doing this completely in Excel – point taken. The reason why I used this simple example here is to illustrate how easy it is, thanks to xlwings, to write values to specified cells in Excel using Python with all the formulas and connected graphs staying intact.

Now, why would you want to use python to write values to Excel?

Let's say you have to update Sales data not monthly but daily (frequency), and not for four brands but hundreds of other sub-categories (amount of data). 

The **frequency of updating** would render manual work not a very attractive option, while running a pre-defined flexible script can handle the updating process in seconds. 

The **number of sub-categories**, for which you would need separate pivot tables or a more complex conditional formula, only supports this point. Python tends to be way more performant with **larger datasets** than Excel, so outsourcing the data processing makes sense.

Furthermore, what about types of calculations that Excel itself is not able to do? 

Let's say the output value that you want to write to an Excel file is not the result of a simple conditional aggregation (e.g. Sales of Brand 1 in July) but the **result of a complex machine learning model** (e.g. predicted sales using a neural network). 

Sure, you could export the model result and connect the Excel file to the output file but it's not hard to imagine that writing the results directly to an Excel sheet could be the prefered way.

![xlwings addin for excel](img/img7.png)

Another way is to [use python within Excel using the xlwings add-in](https://docs.xlwings.org/en/stable/addin.html). I am not very familiar with this option but it seems to be a great work flow for some people that have to work as much as possible in Excel, for example for consultants who deliver a data product to a customer that is not able or willing to work with a jupyter notebook or plain python script.

If this sounds interesting to you and you want to further understand what xlwings is capable to do, here are a few articles to follow-up to:

- [Python Excel integration with Xlwings](https://towardsdatascience.com/python-excel-integration-with-xlwings-f9bf9d1332ea)
- [How to Supercharge Excel With Python](https://towardsdatascience.com/how-to-supercharge-excel-with-python-726b0f8e22c2)
- [Bridging Excel with Python: xlwings](https://ernest-huang.medium.com/bridging-excel-with-python-xlwings-2e3f47cf4ac5)

At this point I would also like to note that Fleix Zumstein, the creator of xlwings, published an O'Reilly book [Python for Excel](https://www.amazon.de/Python-Excel-Environment-Automation-Analysis/dp/1492081000/ref=sr_1_3?__mk_de_DE=ÅMÅŽÕÑ&dchild=1&keywords=python+for+excel&qid=1628227423&sr=8-3) in March 2021. 

He describes the content of his book in this YouTube video. 

[![felix zumstein python for excel into](img/img8.png)](https://www.youtube.com/watch?v=_DUHhb3gMJA&t=46s)

While I personally don't have any experience with it, the possibility to use xlwings as an add-in in Excel to run python scripts directly instead of copying output, thus offering a more or less self-contained Excel solution to clients might be a great possibility for some usecases and is thus worth exploring.

## 4. Summary

We tried to update a given Excel report using the methods we learned in part 1 through pandas. However, **importing and exporting Excel files will change things like formatting and removes formulas and graphs**. 

The python package **xlwings allows us to write output directly in specified Excel cells**, thus only changing the file where we want it to while keeping formulas and connected graphs intact.

Outsourcing data processing to python might not be necessary in a simple use case like this. However, assuming the number of brands and products as well as the updating frequency to increase significantly justifies that we are already thinking about **ways of automating report updating**.

Furthermore, once we leave the comfort of Excel our abilities with python are endless. We could more or less easily **extend reporting with outputs of machine learning models without the need to import them manually**. Many of these complex and customized models are not able to be defined and calculated just in Excel.

Thus, the approach outlined here will be a good skill in our data analyst toolbox.

Again, I encourage you to think about your situation at work or your personal data project where a tool like xlwings could help you, and then just try it out. The beginning is always tough but stick with it and you will be way more effective and faster than any Excel pro.

!["hosd data mentoring"](img/hosd.png)

And in case you need some general guidance on whether Data Analytics and Data Science could be a career path for you, we at [HOSD Mentoring offer free one-to-one mentoring](http://www.hosd-mentoring.com). You can book a session with one of our mentors with just a click on our website. 

Don't be shy :)